@import url('https://fonts.googleapis.com/css2?family=Iter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=kalnia:wght@100..700&display=swap');


 

/* RESET */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-size: 15px;
}

h1,
h2,
h3,
h4 {
    font-family: "Kalnia", serif;
    font-weight: 400;
}
h1 {
    font-size: 55px;
 
}
h2{
    font-size: 25px;
}
h3 {
    font-size: 15px;
}
/* ---------les classe fonctionelles flex box ---------*/
.flex {
display:flex;
flex-wrap:wrap;
}

.space-between {
justify-content:space-between;
}

.space-around {
justify-content:space-around
}
.space-evenly {
justify-content : space-evenly ;
}
.justify-center {
justify-content:center;
}
.flex-end {
justify-content:flex-end;
}

.flex-start {
justify-content:flex-start;
}

/* alignement verticale */

.align-center {
align-items:center;
}
.align-end{
align-items:end;
}
.center{
    text-align: center;
}

/* Gap */

.gap-12 {
gap:12px;
}
.gap-5{
    gap: 5px;
}

.gap-230{
    gap: 230px;
}

/* les classes de largeur */

.w-100{
    width: 100%;
}

.w-40{
    width: 40%
}
.w-48{
    width: 48%;
}

.w-33{
    width: 33%;
}

.w-22{
    width: 22%;
}

.container-1000{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.liste-puce{
    list-style-type: none;
}
.marge-10{
    margin-top: 50px;
    margin-bottom: 50px;
}
a{
    text-decoration:none;
}
.bg-hero{
    background-image: url(asset/asset-photographe/image\ 8.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
}
ul{
    list-style-type: none;
}

.padding-30{
    padding: 30px;
}

.position-nav{
    position: fixed;
    top: 200px;
    right: 10px;
}

.position-header{
    position: fixed;
    top: 20px;
    gap: 450px;
}

.margin-top-100{
    margin-top: 100px;
}

.margin-top-30{
    margin-top: 30px;
}

.margin-top-50{
    margin-top: 50px;
}

.margin-bottom-30{
    margin-bottom: 30px;
}

.margin-bottom-100{
    margin-bottom: 100px;
}
.margin-bottom-10{
    margin-bottom: 15px;
}



.nodeco{
    text-decoration: none;
    list-style-type: none;
}

.position-header{
    position: fixed;
    top: 20px;
    gap: 450px;
    width: 100%;
}

header a{
    text-decoration: none;
    font-weight: 600;
    color: white;
}
.padding15{
    padding: 100px;
}

.bg-beige{
    background-color: #f2EAE4;
}
.padding60{
    padding: 64px 0;
}

.bg-maron{
    background-color: #655649;
    padding: 150px 0 64px 0;
    color: white;
}

.bg-white{
    background-color: white;
}

.btn{
    background-color: rgb(73, 72, 72);
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
    display: inline-block;
}
.w-30{
    width: 30%;
}
footer a{
    color: white;
}
.margin-top-10{
    margin-top: 10px;
}

.bold{
    font-weight: bold;
}
.margin-top{
    margin-top: 100px;
}

input{
    display: block;
    margin-bottom: 16px;
    padding: 15px;
}

