/* RESET */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ---------les classe fonctionelles flex box ---------*/
.flex {
display:flex;
flex-wrap:wrap;
}

.space-between {
justify-content:space-between;
}

.space-around {
justify-content:space-around
}
.space-evenly {
justify-content : space-evenly ;
}
.justify-center {
justify-content:center;
}
.flex-end {
justify-content:flex-end;
}

.flex-start {
justify-content:flex-start;
}

/* alignement verticale */

.align-center {
align-items:center;
}
.align-end{
align-items:end;
}

/* Gap */

.gap-12 {
gap:12px;
}

.gap-230{
    gap: 230px;
}

/* les classes de largeur */

.w-100{
    width: 100%;
}

.w-48{
    width: 48%
}

.w-33{
    width: 33%;
}

.w-22{
    width: 22%;
}

.container-1000{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.liste-puce{
    list-style-type: none;
}
.marge-10{
    margin-top: 50px;
    margin-bottom: 50px;
}
a{
    text-decoration:none;
}
.bg-hero{
    background-image: url(asset/asset-photographe/image\ 8.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
ul{
    list-style-type: none;
}

.padding-30{
    padding: 30px;
}

.position-nav{
    position: fixed;
    top: 200px;
    right: 10px;
}

.position-header{
    position: fixed;
    top: 20px;
    gap: 450px;
}

.margin-top-100{
    margin-top: 100px;
}

.margin-top-30{
    margin-top: 30px;
}

.margin-top-50{
    margin-top: 50px;
}

.margin-bottom-30{
    margin-bottom: 30px;
}

.margin-bottom-100{
    margin-bottom: 100px;
}



.nodeco{
    text-decoration: none;
    list-style-type: none;
}

.position-header{
    position: fixed;
    top: 20px;
    gap: 450px;
    width: 100%;
}

header a{
    text-decoration: none;
    font-weight: 600;
    color: white;
}
.padding15{
    padding: 100px;
}